KERNEL_ARCH_CFLAGS=-fpic -ffreestanding -std=gnu99 -O2 -Wall -Wextra -mcpu=arm1176jzf-s -D_RPI_1
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=-fpic -ffreestanding -nostdlib
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/uart.o \
$(ARCHDIR)/mmio.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gpio.o \
$(ARCHDIR)/kernel.o \
$(ARCHDIR)/timer.o \
